# ignore everything
*

# git stuff
!.gitignore
!LICENCE
!README.org


!ditaa0_9/
!templates/


# init
!init.el


# modules
!modules/
!modules/*.el

# modules
!core/
!core/*.el

# screencast
!screencasts/
!screencasts/*.el

# custom folder
!.custom/
!.custom/*.el
