# ignore everything
*

# git stuff
!.gitignore
!LICENCE
!README.org


!ditaa0_9/
!templates/


# init
!init.el

# modules
!modules/
!modules/*.org

# activities
!modules/activities/
!modules/activities/*.org

# ignore files below

modules/encryption.org
