# ignore everything
*

# git stuff
!.gitignore
!LICENCE
!README.org


#
!config.org
!compile.el
!Makefile
!init.el
!early-init.el
!index.html
!css
!css/htmlize.css
!css/readtheorg.css

!js
!js/jquery.stickytableheaders.js
!js/readtheorg.js
